{% extends "./components/_layout.njk" %}

{% block title %}clockJS{% endblock %}

{% block page_name %}index{% endblock %}

{% block content %}

{% endblock %}

{% block page_scripts %}
{% endblock %}
