{% extends "./components/_layout.njk" %}

{% block title %}clockJS{% endblock %}

{% block page_name %}index{% endblock %}

{% block content %}
<div class="clock_holder"></div>
{% endblock %}

{% block page_scripts %}
  <script src="./js/clock.js"></script>
{% endblock %}
