$gap: 20px;

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: inherit;
}

body {
  background-color: #ccc;
}

.clock_holder {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;

  &__digit {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.digit {
  position: relative;
  width: $gap;
  height: $gap * 2;
  &__item {
    position: absolute;
    background-color: #000;
    opacity: 0;
    transform: rotate(360deg);
    transition: 0.5s;
  }
  &__item--action {
    opacity: 1;
    transform: rotate(0);
  }

  &__item--0 {
    top: 0;
    left: 0;
    width: $gap;
    height: 2px;
  }
  &__item--1 {
    width: 2px;
    height: $gap;
    top: 0;
    right: 0;
  }
  &__item--2 {
    width: 2px;
    height: $gap;
    bottom: 0;
    right: 0;
  }
  &__item--3 {
    left: 0;
    bottom: 0;
    width: $gap;
    height: 2px;
  }
  &__item--4 {
    width: 2px;
    height: $gap;
    left: 0;
    bottom: 0;
  }
  &__item--5 {
    width: 2px;
    height: $gap;
    top: 0;
    left: 0;
  }
  &__item--6 {
    top: 50%;
    left: 0;
    width: $gap;
    height: 2px;
    transform: translateY(-50%);
  }
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $gap / 2;
  height: $gap * 2;

  &__item {
    width: 2px;
    height: 2px;
    background-color: #000;
  }
}
