:root {
  --line: 10px;
  --step: 3;
  --fill-color: #000;
  --bg-color: #ccc;
  @media (max-width: 767px) {
    --line: 5px;
  }
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: inherit;
}

body {
  background-color: var(--bg-color);
}

.clock_holder {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  &__digit {
    margin-left: var(--line);
    margin-right: var(--line);
  }
}