.divider {
  position: relative;
  display: block;
  width: ~"calc(var(--line, 5px) * 10)";
  height: ~"calc(var(--line, 5px) * 10 * 2 - var(--line, 5px))";
  animation: blink 1s linear infinite;

  &:after,
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: var(--line, 5px);
    height: var(--line, 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
  }

  &:after {
    top: 25%;
  }

  &:before {
    top: 75%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}