<meta property="og:title" content="clockJS"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://clock.dyaroman.com/images/favicons/android-chrome-512x512.png"/>
<meta property="og:url" content="https://clock.dyaroman.com/"/>
<meta property="og:site_name" content="clockJS"/>
